.toast-container {
    width: $min-width;
    position: fixed;
    bottom: $position-margin;
    right: $position-margin;
    z-index: 1;
}

.toast {
    background-color: $default-background-color;
    color: $default-text-color;
    padding: 1rem;
    margin: .5rem;
    position: relative;
    font-family: $toast-font-family;
    font-size: $toast-font-size;
}

.toast-title {
    font-weight: bold;
    margin-bottom: .5rem;
}

.toast-success {
    background-color: $success-bg-color;
}

.toast-info {
    background-color: $info-bg-color;
}

.toast-warning {
    background-color: $warning-bg-color;
}

.toast-error {
    background-color: $error-bg-color;
}
