$min-width: 250px;
$position-margin: 2rem;

$default-background-color: #454d5d;
$default-text-color: #eee;

$success-bg-color: #32b643;
$info-bg-color: #5755d9;
$warning-bg-color: #ffb700;
$error-bg-color: #e85600;