$min-width: 250px;
$default-background-color: #333;
$default-text-color: #eee;
$position-margin: 2rem;


.toast {
    background-color: $default-background-color;
    color: $default-text-color;
    min-width: $min-width;
    margin-left: $min-width / 2;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: $position-margin;
}

